#contenedor {
	width:100%;
	height: auto;
	margin:auto;
	text-align:left;
}

#logoJV {
	float:left;
	margin:20px 0px 0px 200px;
}

#contenidoMenor {
	width: 90%;
}

#logoJV2 {
	float:left;
	margin:12px 0px 0px 100px;
}

#tituloSistema {
	margin:20px 450px 0px 0px;
}

#tablaUsuario {
	padding: 3px;
    border: 2px solid;
	border-color: #7B2827;
	background: #EFDCC5; 
    border-radius: 5px;
	float:right;
	margin:-60px 130px 0px 0px;
	font-family: "Myriad Pro Regular";
	font-size: 12pt;
	color:#7B2827;
	font: bold;	
	font-weight: bold;	
}

#tablaPerfil{
	padding: 3px;
    border: 2px solid;
	border-color: #7B2827;
	background: #EFDCC5; 
    border-radius: 5px;
	float:right;
	margin:-10px 130px 0px 0px;
	font-family: "Myriad Pro Regular";
	font-size: 12pt;
	color:#7B2827;
	font: bold;	
	font-weight: bold;	
}

#blancoIzq {
	float:left;
	position: relative;
	margin:100px 0px 0px 100px;
}

#blancoDer{
	float:right;
	position: relative;
	margin:100px 100px 0px 0px;
}

#paquetes {
	float:right;
	margin:0px 200px 0px 0px;
}

#salir {
	float:right;
	margin:-30px 50px 0px 0px;
}

#lona {
	background-image: url("../images/Lona.jpg");
	background-repeat: repeat-x;
	width: 637px;
	height: 384px;
	float: center;
}

#bienvenido{
	float: top;
	margin:30px 0px 0px 0px;	
}

.izquierda{
	text-align: left;
}

.derecha{
	text-align: right;
}

.centro{
	text-align: center;
}

.encabezadoLogin {
	background-image: url("../images/FondoEncabezado.png");
	background-repeat: repeat-x;
	height:220px;
	font-size: 22;
}

.encabezado{
	background-image: url("../images/FondoEncabezado2.png");
	background-repeat: repeat-x;
	height:159px;
	font-size: 22;
}

.tablas {
	background-image: url("../images/Tabla.jpg");
}

.fondo{
	background-image: url("../images/Fondo.png");
	background-repeat: repeat;
}

.fondoContenido{
	background-image: url("../images/Fondo.png");
	background-repeat: repeat;
	vertical-align: top;
}

.textoCafe{
	font: bold;
	font-weight: bold;	
	font-family: "Myriad Pro Regular";
	font-size: 12pt;
	color:#41281B;
}

.textoVinotinto{
	font: bold;
	font-weight: bold;	
	font-family: "Myriad Pro Regular";
	font-size: 12pt;
	color:#771B22;
}

.textoBlanco{
	font: bold;
	font-weight: bold;	
	font-family: "Myriad Pro Regular";
	font-size: 13pt;
	color:#FFFFFF;
	vertical-align: bottom;
}

negrita{
	font: bold;
	font-weight: bold;
}
 
.negrita{
	font: bold;
	font-weight: bold;
}

@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('/gip3/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed'), url('/fonts/MYRIADPRO-COND.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Semibold Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Semibold Italic'), url('/fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Semibold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Semibold'), url('/fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed Italic'), url('/fonts/MYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Italic'), url('/fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Condensed Italic'), url('/fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Condensed'), url('/fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold'), url('/fonts/MYRIADPRO-BOLD.woff') format('woff');
}

.noBorders tr, .noBorders td {
background: none !important;
border: none !important;
} 

.filas_contenido{
		font-size:12px;

}

.rojoNegrita{
	color:red;
	font-weight:bold	
}

.verdeNegrita{
	color:green;
	font-weight:bold	
}

.naranjaNegrita{
	color:orange;
	font-weight:bold	
}


